@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Festive&family=Inter&family=Lobster+Two:wght@400;700&family=Montserrat&family=Roboto+Mono&family=Sirin+Stencil&family=Splash&family=Stylish&family=Supermercado+One&family=Titillium+Web&family=Ubuntu:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
    border-radius: 0.2rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}


.App {
    width: 100vw;
    /* height: 100vh; */
    height: 91.5vh;
    background: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.App>.controlBoard {
    width: 15rem;
    background: orange;
    height: 80%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App>.controlBoard>p {
    width: 15rem;
    padding: 1rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    color: white;
    background: orange;
    width: 80%;
    transition: all 0.2s ease-in;
    cursor: pointer;
    font-weight: bold;
}

.App>.controlBoard>p:hover {
    width: 15rem;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: orange;
    background: rgb(221, 221, 221);
    width: 80%;
}

.activeLink {
    color: rgb(151, 98, 0) !important;
    background: white !important;
}

.App>.pages {
    /* margin-top: 3rem; */
    width: 100vw;
    height: 91vh;
    overflow: auto;
    margin-left: 1rem;
}

@media screen and (max-width: 767px) {
    .App>.controlBoard {
        width: 3rem;
    }
}

.btn {
    border: none;
    padding: 0.5rem;
    border-radius: .2rem;
    background: orange;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 0 0.5rem;
    font-weight: bold;
}

.btn:hover {
    border: none;
    background: white;
    color: orange;
}

.headBar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: rgba(221, 221, 221, 0.9);
    backdrop-filter: blur(5px);
}

.headBar input {
    border: none;
    outline: none;
    margin: 0 0.5rem;
    /* border-bottom: 5px solid black; */
    background: white;
    padding: .5rem;
    border-radius: .2rem;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.headBar input:focus {
    border-bottom: 2px solid orange;
    background: whitesmoke;
}