@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Festive&family=Inter&family=Lobster+Two:wght@400;700&family=Montserrat&family=Roboto+Mono&family=Sirin+Stencil&family=Splash&family=Stylish&family=Supermercado+One&family=Titillium+Web&family=Ubuntu:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bright {
    --orange: orange;
    --orange2: rgba(255, 166, 0, 0.9);
    --white: white;
    --bg: rgb(221, 221, 221);
    --bg2: rgba(221, 221, 221, 0.9);
    --activeLink: rgb(151, 98, 0);
    --whitesmoke: whitesmoke;
    --dataTransfer: rgba(255, 192, 203, 0.9);
    --black: black;
}

.dark {
    --orange: rgba(45, 77, 99, 1);
    --orange2: rgba(45, 77, 99, .9);
    --white: white;
    --bg: rgb(28, 28, 56);
    --bg2: rgba(28, 28, 56, 0.9);
    --activeLink: rgba(45, 77, 99, 1);
    --whitesmoke: rgb(70, 70, 70);
    --dataTransfer: rgba(62, 48, 50, 0.9);
    --black: white;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--white);
    border-radius: 0.2rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}


.App {
    width: 100vw;
    height: 91.5vh;
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.App>.controlBoard {
    /* width: 5rem; */
    position: absolute;
    left: 0;
    background: var(--orange2);
    height: 70%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in;
    backdrop-filter: blur(0.5rem);
}

.shrinkControl {
    width: 5rem;
}

.expandControl {
    width: 15rem;
}

.App>.controlBoard>p {
    width: 15rem;
    padding: 1rem 0;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    color: var(--white);
    background: transparent;
    width: 80%;
    transition: all 0.2s ease-in;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.App>.controlBoard>p:hover {
    width: 15rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: var(--orange2);
    background: var(--bg);
    width: 80%;
}

.activeLink {
    color: var(--activeLink) !important;
    background: var(--white) !important;
}

.App>.pages {
    width: 100vw;
    height: 91vh;
    overflow: auto;
    margin-left: 1rem;
}

@media screen and (max-width: 767px) {
    .App>.controlBoard {
        width: 3rem;
    }
}

.btn {
    border: none;
    padding: 0.5rem;
    border-radius: .2rem;
    background: var(--orange);
    color: var(--white);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 0 0.5rem;
    font-weight: bold;
}

.btn:hover {
    border: none;
    background: var(--white);
    color: var(--orange);
}

.headBar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--bg2);
    backdrop-filter: blur(5px);
}

.headBar input {
    border: none;
    outline: none;
    margin: 0 0.5rem;
    background: var(--white);
    padding: .5rem;
    border-radius: .2rem;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.headBar input:focus {
    border-bottom: 2px solid var(--orange);
    background: var(--whitesmoke);
}

.dataTransfer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: var(--dataTransfer);
    overflow: hidden;
}

.socialIcons {
    color: var(--black);
}

.modeIcons {
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.3rem;
    border: 2px solid var(--white);
    margin-left: 1rem;
}