.EventPage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.createPage .imageUploaded {
    height: 100%;
    object-fit: cover;
    background: var(--whitesmoke);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    overflow-x: auto;
    max-width: 90vw;
}

.createPage .imageUploaded img {
    width: 10rem;
    object-fit: cover;
}

.createPage textarea {
    resize: none;
}

.expand {
    --height: unset;
}

.shrink {
    --height: 15rem;
}

.e_row {
    width: 25rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    background: var(--gray);
    gap: 1rem;
    overflow-y: hidden;
    height: var(--height);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 1px var(--boxshadow);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.e_row h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}


a:hover {
    color: orange;
}

.e_row p,
.e_row div {
    padding: 0.5rem;
    background: var(--gray);
    border-radius: .2rem;
}

.e_row p:hover,
.e_row div:hover {
    padding: 0.5rem;
    background: var(--whitesmoke);
    border-radius: .2rem;
}

.e_row a {
    text-decoration: none;
    color: darkcyan;
}

.e_row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: var(--gray);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

a:hover {
    color: orange;
}

.e_row p {
    padding: 0.5rem;
    background: var(--gray);
    border-radius: .2rem;
}

.e_row p:hover,
.e_row div:hover {
    padding: 0.5rem;
    background: var(--whitesmoke);
    border-radius: .2rem;
}

.e_row #desc {
    color: darkgray;
}

.e_row #startTime {
    color: red;
}