.bright {
    --loginBg1: rgba(255, 192, 203, 0.5);
    --loginBg2: rgba(0, 255, 255, 0.5);
}

.dark {
    --loginBg1: rgba(48, 36, 38, 0.5);
    --loginBg2: rgba(0, 75, 75, 0.5);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 91.5vh;
    width: 100%;
    background: linear-gradient(45deg, var(--loginBg1), var(--loginBg2)), url("../../public/media/background-2462431_1920.jpg") no-repeat center center/cover;
}

.Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    gap: 3rem;
    height: 20rem;
    width: 20rem;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(0, 255, 255, 0.5));
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.Form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #000;
}

input {
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
    background: transparent;
    padding: .5rem;
    transition: all 0.3s ease-in-out;
    width: 15rem;
}

.Form>form>input[placeholder] {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

input:focus {
    border-bottom: 2px solid orange;
}

.Form>form>.btn {
    width: 7rem;
    margin-top: 1rem;
}